<h1>Analysis#show</h1>
<p><%= @analyzer %></p>
<p id="positive"><%= @avg %></p>
<p id="negative"><%= @avg1 %></p>
<p>Find me in app/views/analysis/show.html.erb</p>
  <head>
		<LINK href="http://localhost:3000/div_styling.css" rel="stylesheet" type="text/css">
		<LINK href= "http://localhost:3000/elements.css" rel="stylesheet" type - "text/css">
		<LINK href = "http://localhost:3000/scores.css" rel = "stylesheet" type = "text/css">
		<script src = "jquery-1.9.1.min.js"></script>
		<script src = "loadlist.js"></script>
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<script type="text/javascript" src="drawchart.js"></script>
		<script type = "text/javascript">
/*		
		$(document).ready(function(){
			//resizeDiv();
			});

			window.onresize = function(event) {
			//resizeDiv();
			}		 
	//			$(window).bind("resize", resizeDiv);
			function resizeDiv() {
			vpw = ($(window).width()); 
			vph = ($(window).height());
	  
	  
			console.log('Height  ' + vph +'width  ' +vpw);
			$('#pdiv').css({'height': vph + 'px'});
			$('#pdiv').css({'width': vpw + 'px'});
			
			}
			*/
		</script>
  
  </head>
  <body>
  <div id = "main_view">
	<div id = "filters">
		Filter element to be designed.
	 <!-- filter controls to be made here -->
	</div>
	
	<div id = "relatedsearches"> 
		<!-- dynamic hyperlink list of related items -->
		<script type="text/javascript"> 
			loadlist('Related searches');
		</script>
	</div>

	
	
	<div id = "recentsearches">
		<!-- past searches -->
		<script type="text/javascript"> 
			loadlist('Recently searched');
		</script>
	</div>
	
	<div id = "analytics">
			<div id="sentiscore">
				<div id = "sentiscore_total_score">
					<p class = "score_label">Total Score</p>
					<script type = "text/javascript">
						showscore("total");
					</script>
				</div>
				<div id = "sentiscore_positive_score">
					<p class = "score_label">Positivity</p>
					<script type = "text/javascript">
						showscore("positive");
					</script>
				</div>
				<div id = "sentiscore_negative_score">
					<p class = "score_label">Negativity</p>
					<script type = "text/javascript">
						showscore("negative");
					</script>
				</div>
			</div>
			<div id="popularity">
				<p class = score_label>Social Mentions</p>
				<script type = "text/javascript">
					showscore("mentions");
				</script>
				
			</div>
			<div id="sentigraph">
				<script type = "text/javascript">
					drawsentichart();
				</script>	
			</div>
			<div id = "somechart">
				<script type = "text/javascript">
					drawpopularitychart();
				</script>	
			</div>
			
	</div>
	
	<div id = "hotsearches">
		<!-- trending searches -->
		<script type="text/javascript"> 
			loadlist('Now trending');
		</script>
	</div>
    </div>	   
   </body> 