#main_view
{
height: 1000px;
width: 1300px;
}

#filters
{
	float:left;
	height: 20%;
	width: 20%;
	background-color:red
}

#searchboxarea
{
	float:left;
	height: 20%;
	width: 60%;
	background-color:yellow;
}

#relatedsearches
{
	float:left;
	height: 20%;
	width: 19%;
	background-color:blue;
}



#recentsearches
{
	float:left;
	height: 80%;
	width: 20%;
	background-color:white;
}

#analytics
{
	float:left;
	height: 70%;
	width: 60%;
	background-color:green;
	
}

#hotsearches
{
	float:left;
	height: 80%;
	width: 19%;
	background-color:silver;
}
	


	
#sentiscore
{
	float:left;
	height:30%;
	width:50%;
	background-color:red;
}

	
#popularity
{
	float:left;
	height:30%;
	width:50%;
	background-color:blue;
}

	
#sentigraph
{
	float:left;
	height:70%;
	width:50%;
	background-color:yellow;
}

#somechart
{
	float:left;
	height:70%;
	width:50%;
	background-color:blue;
}

	



