#main_view
{
position:relative;
height: 700px;
width: 1410px;
}

#filters
{
	float:left;
	height: 30%;
	width: 20%;
/*	background-color:red */
}

#searchboxarea
{
	position:relative;
	float:left;
	height: 30%;
	width: 60%;
/*	background-color:yellow; */
}

#relatedsearches
{
	float:left;
	height: 30%;
	width: 19%;
/*	background-color:blue; */
}



#recentsearches
{
	float:left;
	height: 70%;
	width: 20%;
	/*background-color:white; */
}

#analytics
{
	position:relative;
	float:left;
	height: 70%;
	width: 60%;
	/*background-color:green;*/
	
}

#hotsearches
{
	float:left;
	height: 70%;
	width: 19%;
	/*background-color:silver;*/
}
	


	
#sentiscore
{
	position:relative;
	float:left;
	height:30%;
	width:50%;
	/*background-color:red;*/
}

	
#popularity
{
	position:relative;
	float:left;
	height:30%;
	width:50%;
	/*background-color:blue;*/
}

	
#sentigraph
{
	float:left;
	height:70%;
	width:50%;
/*	background-color:yellow;*/
}

#somechart
{
	float:left;
	height:70%;
	width:50%;
/*	background-color:blue; */
}

#sentiscore_total_score
{

	position:absolute;
	width:50%;
	height:100%;
/*	background-color:white; */

}

#sentiscore_positive_score
{
	position:absolute;
	left:50%;
	width:50%;
	height:50%;
	/*background-color:grey; */
}

#sentiscore_negative_score
{
	position:absolute;
	top:50%;
	left:50%;
	width:50%;
	height:50%;
	/*background-color:silver;*/
}
	



