#searchbox
{
	position: absolute;
	top:51%;
	left:33%;
	height:18%;width:45%;
	font-size:12pt;	
}

#searchbutton
{
	position:absolute;
	top: 51%;
	left: 81%;
	font-size:1.6em;
    width: 15%;
    height: 18%;
}

#logo
{
	position:absolute;
	top: 45%;
	left: 15%;
    width: 15%;
    height: 40%;
}

/*table atyling*/
#dynamic_table
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
width:100%;
border-collapse:collapse;
}
#dynamic_table td, #dynamic_table th 
{
font-size:1em;
padding:3px 7px 2px 7px;
}
#dynamic_table th 
{
font-size:1.1em;
text-align:center;
padding-top:5px;
padding-bottom:4px;
background-color:#A7C942;
color:#ffffff;
}
#dynamic_table tr
{
color:#000000;
text-align:center;

}