#totalscore
{		position:relative;
		font-size:600%;
		color:black;
		
		left:10%;
		bottom:70%;
			
}

#positivescore
{		position:relative;
		font-size:300%;
		color:blue;
		left:30%;
		bottom:80%;
			
}

#negativescore
{		position:relative;
		font-size:300%;
		color:red;
		left:30%;
		bottom:80%;
			
}

#mentions
{
		position:relative;
		font-size:600%;
		color:black;
		text-align:center;
		bottom:60%;
}

.score_label
{
		position:relative;
		top:0px;
		left:40%;
		font-size:100%;
		color:green;
}