<form id="TheForm" method="get" action="http://localhost:3000/analysis/zzzz" target="_self">
<!-- The issue arises if you use post instead of a get. OR if URI exceeds 2100 chars (which is a browser limit) -->
<input type = "hidden" name="tweets" value="zzzz" />

</form>
<script type="text/javascript">
	var geturl = location.href;
	console.log(geturl);
	var flag = 0;
	var getstring = "";
	for(var i=0;i<geturl.length;i++){
		if(flag==1)
			getstring = getstring + geturl[i];
		if(geturl[i] == '=')
			flag = 1
	}
</script>
<div id="content">
</div>
<script type="text/javascript">
	function twitter_response(jsondata){
		var responsestring = "";
		var body = "";
		for(var i=0;i<jsondata.results.length;i++){
			responsestring = jsondata.results[i].text;
			body = body + responsestring + " , ";
		}
		var final_body = "";
		var f = 0;
		for(var i=0;i<body.length;i++){
		
		// allows ascii values from 33 to 125, excluding a few characters (#,.,/,?,\,)
		if((body.charCodeAt(i)>=32) && (body.charCodeAt(i)<=125) && (body.charCodeAt(i)!=35)&& (body.charCodeAt(i)!=46)&& (body.charCodeAt(i)!=47)&& (body.charCodeAt(i)!=63)&& (body.charCodeAt(i)!=92))
		{
				final_body = final_body + body[i];
		}
		}
		console.log(final_body);
		//window.open("http://localhost:3000/analysis/" + final_body,"_self");
		window.open("", '_self');
		var frm = document.getElementById('TheForm');
		frm.tweets.value = final_body;
		frm.submit();
		
		
		//var http = new XMLHttpRequest();
		//http.open("GET","http://localhost:3000/analysis/" + final_body, true);
		//http.send(null);
		//print(http.responseText);
//		document.getElementById("content").innerHTML = final_body;
	}
</script>
<script id="id1" type="text/javascript"></script>
<script type="text/javascript">
	var string = "http://search.twitter.com/search.json?q=" + getstring + "&callback=twitter_response";
	console.log(string);
	id1.src = string;
</script> 