<body>
<p>
		
	<div id = "searchboxarea"> 
		<img id = "logo" src = "http://localhost:3000/logo.jpg" alt="logo here"></img>
		<input id = "searchbox" type="search" > </input>
		<button id = "searchbutton" type="image" src="http://localhost:3000/button.jpeg" onclick="go()">Search</button>
		
	</div>
	<script type="text/javascript">
	function go(){
		var url = "http://localhost:3000/tweetsshowing/show?query=" + document.getElementById("searchbox").value;
		window.open(url,"_self");
	}
	</script>
</p>
</body>